# SPDX-FileCopyrightText: Copyright (c) M. Boerger, the MBO Works authors
# SPDX-License-Identifier: Apache-2.0
# The BCR libpfm 4.11.0.bcr.1 source names a retired mirror. Use the same archive
# through SourceForge's canonical endpoint; BCR integrity checks remain enabled.
# Bazel matches the URL without its scheme. Do not rewrite unrelated downloads.
rewrite netcologne\.dl\.sourceforge\.net/project/perfmon2/libpfm4/libpfm-4\.11\.0\.tar\.gz https://downloads.sourceforge.net/project/perfmon2/libpfm4/libpfm-4.11.0.tar.gz
